body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 10;
}

#result {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 10;
}

#helpBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

#helpTxt {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0,0,0,0.9);
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 1000;
}

.btn {
  padding: 1em 2em;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 100;
}

#gameContainer {
  display: none;
}

canvas {
  position: absolute;
  display: block;
}

#bgCanvas {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease;
  z-index: 0;
}